@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  font-family: "Poppins", arial;
  background-color: #191923;
  margin: 0;
  padding: 0;
  font-size: larger;
  box-sizing: border-box;
}

p, h1, code{
  margin: 0;
  padding: 0;
}

.main-body{
  display:grid;
  grid-template-areas: 
    "leftside top top"
    "leftside mid mid"
    "leftside bottom bottom";
  grid-template-columns: 300px 4fr;
  grid-template-rows: 400px auto 100px;
  margin: 50px 150px 0 150px;
}

.top-section {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: top;
  padding: 0 30px;
  background-color: #201F28;
  background-image: linear-gradient(rgba(73, 70, 70, 0.5), rgba(161, 153, 153, 0.5)), url("/images/komovi.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  margin: 30px;
}

.middle-section {
  grid-area: mid;
  background-color: #191923;
  display:flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 100%;
}

.bottom-section {
  grid-area: bottom;
  background-color: green;
} 

.my-photo{
  border-radius: 90px;
  width: 90px;
  height: 90px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  /* box-shadow: 5px 5px 4px 5px #888888; */
}


.left-panel {
  position: relative;
  grid-area: leftside;
}

.top-info {
  text-align: center;
  font-size: smaller;
  background-color: #242430;
  padding:30px;
}

.more-details-for-me{
  padding: 30px;
  background-color: #20202A;
}

.wrapper {
  max-height: 570px;
  overflow-y: scroll;
 
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.color-font {
  color: #89898B;
}

.more-details-for-me .item {
  display:flex; 
  font-size: small; 
  justify-content: space-between;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #F9C128;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.skills-section {
  gap: 10px;
  margin: 30px 0px;
}

.skills-section .circles{
  display:flex;
  justify-content: space-between;
  font-size: small;
}

.skills-section .header{
  color: #fff;
  font-size: smaller;
  margin-bottom: 20px;
}

.skills-section .circles .dot-item {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.progress.javascript {
  background: #333;
  height: 5px;
  width: 100%;
}

.progress.javascript:after {
  content: '';
  display: block;
  background: #F9C128;
  width: 90%;
  height: 100%;
}

.skills-section .specific-skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.progress.html {
  background: #333;
  height: 5px;
  width: 100%;
}

.progress.html:after {
  content: '';
  display: block;
  background: #F9C128;
  width: 95%;
  height: 100%;
}

.progress.vue {
  background: #333;
  height: 5px;
  width: 100%;
}

.progress.vue:after {
  content: '';
  display: block;
  background: #F9C128;
  width: 80%;
  height: 100%;
}

.progress.firebase {
  background: #333;
  height: 5px;
  width: 100%;
}

.progress.firebase:after {
  content: '';
  display: block;
  background: #F9C128;
  width: 70%;
  height: 100%;
}

.progress.sql {
  background: #333;
  height: 5px;
  width: 100%;
}

.progress.sql:after {
  content: '';
  display: block;
  background: #F9C128;
  width: 60%;
  height: 100%;
}

.bottom-left-panel{
  height: 50px;
  background-color:#24232E;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
}

.specific-knowledge {
  display:flex;
  color: #fff;
}


#komovi {
  object-fit: cover;
  width: 100%;
  max-height: 100%; 
  opacity: 50%;
}

#cover-section {
  top:140px;
  color:#fff; 
  display:flex;
  flex-direction: column;
  padding-left: 30px; 
  gap:20px;
  justify-content: center;
}

#download-button {
  background-color: #F9C128;
  height: 50px; width: 35%; 
  color: black; 
  display:flex; align-items: center; 
  justify-content: center; 
  font-weight: bold;
}


.middle-section .work-data{
  display:flex;
  gap:5px;
}

.middle-section .work-data .number-span{
  color:#F9C128;
  font-size: x-large;
}

.middle-section .work-data .description {
  color: #fff; 
  margin-top: 8px; 
  font-size: small;
}
