@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  font-family: "Poppins", arial;
  background-color: #22222C;
  margin: 0;
  padding: 0;
  font-size: larger;
  box-sizing: border-box;
}

p {
  margin:0;
  padding: 0;
}

.main-body{
  display:flex;
}


.my-photo{
  border-radius: 90px;
  width: 90px;
  height: 90px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  /* box-shadow: 5px 5px 4px 5px #888888; */
}


.left-panel {
  display:flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 10%;
}

.top-info {
  text-align: center;
  font-size: smaller;
  background-color: #242430;
  padding:30px;
  width: 235px;
}

.more-details-for-me{
  padding: 30px;
  background-color: #20202A;
}


.color-font {
  color: #89898B;
}

.more-details-for-me .item {
  display:flex; 
  font-size: small; 
  justify-content: space-between;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.languages {
  gap: 10px;
  margin: 30px 0px;
}

.languages .circles{
  display:flex;
  justify-content: space-between;
  font-size: small;
}

.languages .header{
  color: #fff;
  font-size: smaller;
  margin-bottom: 20px;
}

.languages .circles .dot-item {
  display: flex;
  flex-direction: column;
  gap: 10px
}